
*{
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}

body {
}

#page{
    width:100% !important;
}
#top-page{
    width:100%;
    background-color:black;
    height: 170px;
}
#top-page-wrapp{
    width:980px;
    margin:0 auto;
    height:100%;
}


.search-form{
	display: inline-block;
	background: #fcfcfc;
	border: 1px solid #dedede;
	padding-right: 5px;
	margin-top: 5px;
	float: right;
}
#searchform input[type=search] {
	line-height: 14px;
	float: left;
	padding: 6px 7px 5px;
	font-size: 11px;
	color: #939393;
	border: none;
	background: none;
	width: 175px;
}
#searchform input[type=submit] {
	float: left;
	margin: 6px 0 0 4px;
	background: url(../images/toolbar_find.png) 0 0 no-repeat;
	width: 15px;
	height: 15px;
	border: none;
	padding: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

div#login-search {
    width: 100%;
    height: 33px;
    float: left;
}

#navigation{
    width:100%;
    float:left;
    margin-top: 3px;
}

#logo{

    float:left;
    

    height: 90PX;
    
}

div#top-banner {
    float: right;
    height: 90px;
}
nav{
    padding:0;
    float:left;
}

nav ul{
    float:left;
    position:relative;
    height:100%;
}

nav ul li{
    float:left;
    height:100%;
}

nav ul li:hover{
	background:gray;
}

nav ul li:hover a{
	color:white;
}

nav ul li a{
	font-size:14px;
	font-weight:bold;
	color:white;
	float: left;
	padding: 13px 26px;
}




#header h1{
    font-size:small;
}

#middle{
    width:980px;
	margin:0 auto;
	clear:both;
	padding-bottom:10px;
    
	
    min-height: 1285px;

}

#general-content {
    width: 100%;
    float: left;
    /* background: #e7e7e7; */
    min-height: 610px;
    box-shadow: 1px 2px 22px -13px black;
    margin-top:5px;
    /* border-right: 1px solid black; */
}


#primary-content{
	width: 630px;
	float:left;
	min-height: 610px;
	background: white;
	box-shadow: 2px 0 4px -3px black;
}

#news-content {
    float: left;
    width: 100%;
    min-height: 610px;
    padding-left: 0px;
    margin-top: 10px;
}
.new {
    float: left;
    width: 620px;
    margin-bottom: 17px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 17px;
}
.news-title {
    float: left;
    margin-left: 10px;
    width: 50%;
    font-size: 18px;
}
.imgNew {
    float: left;
    background: white;
    padding: 4px;
    box-shadow: 0 0 9px -3px black;
}
.news-date {
    float: left;
    margin-left: 10px;
    font-size: 12px;
    width: 50%;
    color: gray;
    margin-bottom: 8px;
}
.new-description {
    float: left;
    width: 99%;
    margin-left: 10px;
    font-size: 14px;
}
.readMore {
    float: right;
    font-size: 12px;
    width: 70px;
    margin-top: 5px;
}
#secondary-content{
    width:350px;
    min-height:610px;
    /* background-color:white; */
    float:left;
}

#secondary-banner{
    margin-left: 25px;

    /* width: 100%; */
}



/*
    these are just the default styles used in the Cycle2 demo pages.  
    you can use these styles or any others that you wish.
*/


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width: 100%; padding: 0; position: relative;
   

 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img { 
    /* 
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; 
    bottom: 0px; overflow: hidden;
    background: #555555;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #666;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay { 
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

/* 
    media queries 
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px;}
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}

.slideShowBox {
    float: left;
    width: 100%;
    position: relative;
    height: 263px;
}

#footer{
    width:100%;
    background-color:black;
    height:200px;
}