
*{
	list-style:none;
	margin:0;
	padding:0;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}

body {
}

#page{
    width:100% !important;
}
#top-page{
    width:100%;
    background-color:black;
    height:150px;
}
#top-page-wrapp{
    width:980px;
    margin:0 auto;
    height:100%;
}


.search-form{
	display: inline-block;
	background: #fcfcfc;
	border: 1px solid #dedede;
	padding-right: 5px;
	margin-top: 5px;
	float: right;
}
#searchform input[type=search] {
	line-height: 14px;
	float: left;
	padding: 6px 7px 5px;
	font-size: 11px;
	color: #939393;
	border: none;
	background: none;
	width: 175px;
}
#searchform input[type=submit] {
	float: left;
	margin: 6px 0 0 4px;
	background: url(../images/toolbar_find.png) 0 0 no-repeat;
	width: 15px;
	height: 15px;
	border: none;
	padding: 0;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

div#login-search {
    width: 100%;
    /* height: 100%; */
    float: left;
}

#navigation{
    width:100%;
    margin:0 auto;
    float:left;
}

#logo{

    float:left;
    height:45px;
}

nav{
    padding:0;
    float:left;
}

nav ul{
    float:left;
    position:relative;
    height:100%;
}

nav ul li{
    float:left;
    height:100%;
}

nav ul li:hover{
	background:gray;
}

nav ul li:hover a{
	color:white;
}

nav ul li a{
	font-size:14px;
	font-weight:bold;
	color:white;
	float: left;
	padding: 14px 20px;
}




#header h1{
    font-size:small;
}

#middle{
    width:980px;
	margin:0 auto;
	clear:both;
	padding-bottom:10px;
    
	min-height: 600px;

}

#general-content {
    width: 100%;
    float: left;
    background: #e7e7e7;
    min-height: 610px;
    box-shadow: 1px 2px 22px -13px black;
    margin-top:5px;
    /* border-right: 1px solid black; */
}


#primary-content{
	width: 630px;
	float:left;
	min-height: 610px;
	background: white;
	box-shadow: 2px 0 4px -3px black;
}

#news-content {
    float: left;
    width: 100%;
    min-height: 610px;
    padding-left: 0px;
    margin-top: 10px;
}
.new {
    float: left;
    width: 620px;
    margin-bottom: 17px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 17px;
}
.news-title {
    float: left;
    margin-left: 10px;
    width: 50%;
    font-size: 18px;
}
.imgNew {
    float: left;
    background: white;
    padding: 4px;
    box-shadow: 0 0 9px -3px black;
}
.news-date {
    float: left;
    margin-left: 10px;
    font-size: 12px;
    width: 50%;
    color: gray;
    margin-bottom: 8px;
}
.new-description {
    float: left;
    width: 99%;
    margin-left: 10px;
    font-size: 14px;
}
.readMore {
    float: right;
    font-size: 12px;
    width: 70px;
    margin-top: 5px;
}
